body {
  background: url("https://nathanael-bonamie.github.io/img2.jpg");
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
}
p {
  font-size: 6.8vw;
  font-size: 6.8vh;
  color:#F00;
  font-weight: bold;
  text-align:center;
  font-family:calibri;
  margin-top:2.5em;
  margin-right:1.7em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
