body {
  background: url("https://nathanael-bonamie.github.io/img.jpg");
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
}
p {
    font-size: 8.2vw;
	font-size: 8.2vh;
	color:#0f0;
	font-weight: bold;
	text-align:center;
	font-family:calibri;
	margin-top:2.6em;
}
